@font-face {
  font-family: Lora;
  src: url('../../shared/assets/fonts/Lora/Lora-Regular.ttf') format('ttf');
}

@font-face {
  font-family: Lora;
  src: url('../../shared/assets/fonts/Lora/Lora-Bold.ttf') format('ttf');
}

@font-face {
  font-family: Lora;
  src: url('../../shared/assets/fonts/Lora/Lora-SemiBold.ttf') format('ttf');
}
