@import "./normalize";
@import "./vars";
@import "./media-queries.scss";
@import "./mixin.scss";
@import "./fonts";


html,
body,
#root {
  height: 100%;
  font-family: var(--font-family-main);
  background-color: var(--light-brown);
  --swiper-theme-color:#7a5452;

  @include tablet-l {
    padding-bottom: 50px;
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
