@import './media-queries.scss';

@mixin main-styles {
    margin: 0 auto;
    max-width: calc(var(--container-max-width) + var(--container-padding-x) * 2);
    padding: 0 var(--container-padding-x); 

    @include tablet-m {
        padding: 0 70px; 
    }

    @include mobile-l{
        padding: 0 40px; 
    }   
}

@mixin section-styles {
    margin-top: 60px;
      
    @include tablet-l {        
        margin-top: 40px;
    }

    @include mobile-l{
        margin-top: 40px;
    }      
}
@mixin title-section {
    font-weight: 500;
    margin-bottom: 60px;
    text-align: center;

    @include desktop-l {    
        font-size: var(--font-size-l);
    }
    @include tablet-l {        
        margin-bottom: 40px;
    }
    @include tablet-m {    
        font-size: var(--font-size-m);
        margin-bottom: 40px;
    }
    @include mobile-l {  
        font-size: var(--font-size-s);
        padding: 0 40px;
        margin-bottom: 20px;
    }
    @include mobile-m {
        padding: 0 20px; 
    }
}

@mixin modal-content {
    padding: 10px 100px 60px 100px;
    background-color: var(--light-brown);
    border-radius: var(--border-radius-container);
    box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.25);

    @include mobile-l {
        padding: 15px 20px 40px 20px;
    }
}

@mixin button {
    border-radius: var(--border-radius-element);
    padding: 10px 25px;
    font-size: var(--font-size-m);
    font-weight: 700;
    text-transform: var(--text-uppercase);
    cursor: pointer;
    border: none;
    outline: none;

    @include desktop-l {
        font-weight: 600;
        font-size: var(--font-size-s);
    }
}

@mixin button-accent {
    background-color: var(--dark-brown);
    color: var(--white);

    &:hover {
        background: linear-gradient(to left, var(--brown), var(--dark-brown));
        background-size: 250% 100%;
    }
}

@mixin header-height {
    @include desktop-xl {
        min-height: 820px;
    }

    @include desktop-l {
        min-height: 750px;
    }

    @include desktop-m {
        min-height: 700px;
    }

    @include tablet-l {
        min-height: 580px;
    }

    @include tablet-m {
        min-height: 450px;
    }

    @include mobile-xl {
        min-height: 330px;
    }

    @include mobile-l {
        min-height: 305px;
    }

    @media (max-width: 440px) {
        min-height: 250px;
    }

    @media (max-width: 400px) {
        min-height: 220px;
    }

    @media (max-width: 360px) {
        min-height: 220px;
    }

    @include mobile-m {
        min-height: 200px;
    }
}