@import './media-queries.scss';

@mixin section-styles {
    margin: 0 auto;
    margin-top: 60px;
    max-width: calc(var(--container-max-width) + var(--container-padding-x) * 2);
    padding: 0 var(--container-padding-x); 
      
    @include tablet-l {        
        margin-top: 40px;
    }
    @include tablet-m {
        padding: 0 70px; 
    }
    @include mobile-l{
        padding: 0 40px; 
        margin-top: 40px;
    }      
   
}
@mixin title-section {
    font-weight: 500;
    margin-bottom: 60px;
    text-align: center;

    @include desktop-l {    
        font-size: var(--font-size-l);
    }
    @include tablet-l {        
        margin-bottom: 40px;
    }
    @include tablet-m {    
        font-size: var(--font-size-m);
        margin-bottom: 40px;
    }
    @include mobile-l {  
        font-size: var(--font-size-s);
        padding: 0 40px;
        margin-bottom: 20px;
    }
    @include mobile-m {
        padding: 0 20px; 
    }
}