:root {
  // Шрифт
  --font-family-main: 'Montserrat', sans-serif;

  // Цвет
  --light-brown: #F7F1EB;
  --dark-brown: #7A5452;
  --brown: #C49B82;
  --black: #000000;
  --white: #FDFDFD;
  --red: #D82828;
  --opacity: rgba(253, 253, 253, 0.67);

  // Размеры
  --font-size-xxs: 14px;
  --font-size-xs: 16px;
  --font-size-s: 18px;
  --font-size-m: 20px;
  --font-size-l: 26px;
  --font-size-xl: 35px;
  --font-size-xxl: 50px;

  //Размер экрана
  --width-desktop: 1920px;
  --width-tablet: 780px;
  --width-mobile: 320px;

  //Паддинги
  --desktop-padding: calc(16%/2);
  --tablet-padding: calc(18%/2);
  --mobile-padding: calc(12%/2);

  //Text-transform
  --text-uppercase: uppercase; 
  --text-capitalize: capitalize;

  //Переменные для header
  --gap-desktop: 48px;
  --gap-tablet: 15px;
  --gap-mobile: 5px;
  
  //Контейнер
  --container-max-width: 1440px;
  --container-padding-x: 150px;

  //Переменные для кнопок
  --border-radius-desktop: 15px;
  --border-radius-mobile: 10px;
  
  
  //Border Radius
  --border-radius-container: 40px;
  --border-radius-element: 15px;

}
