:root {
  --font-family-main: 'Inter', sans-serif;
  --font-family-second: 'Unbounded', sans-serif;
  --color-primary: #fff;
  --color-secondary: #f0f0f0;
  --color-stroke: #EBEBEB;
  --color-accent: #d6001c;
  --text-primary: #000;
  --text-primary-inverted: #fff;
  --text-secondary: #4E4E4E;
  --text-disabled: #999;

  // Размеры
  --header-height: 52px;
}