@import '../../app/styles/mixin.scss';

.main {
    @include main-styles;
    margin-top: 134px;

    @include desktop-m {
        margin-top: 80px;
    }

    @include tablet-l {
        margin-top: 50px;
    }

    @include mobile-xl {
        margin-top: 25px;
    }
}
.adjustm{
    background-color: var(--light-brown)
}
.picAdjustm{
    width: 44px;
    @include mobile-m {
        width: 36px;   
    } 
}
.picAdjustM{
    width: 50px;
    @include mobile-m {
        width: 40px;   
    } 
}
.adjustmIcon{
        width: 46px;
        @include mobile-m {
            width: 36px;
        } 
}

.btnAdj{
    @include desktop-xl {
        display: none;
    } 
    @include tablet-l {
        display: block;
        display: flex;
        justify-content: space-between;
    } 
}