@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin.scss';

.header {
    background-color: var(--brown);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    @include main-styles;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
