@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin.scss';

.header {
    background-color: var(--brown);
    width: 100%;
    padding: 76px 0;

    @include desktop-m {
        padding: 40px 0;
    }
}

.container {
    @include main-styles;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
