@import '../../../app/styles/media-queries.scss';

.upload_container {   
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;      
    width:330px;
    height:440px;
    background-color: var(--white);
    border-radius: var(--border-radius-container);   
    svg {        
        width: 50px;
        height: 50px;
    }

    @include desktop-l {       
        width: 280px;
        height: 372px;
    } 
    @include desktop-m {
        width: 260px;
        height: 345px;
    } 
    @include tablet-l {
        width: 500px;
        height: 665px;
    } 
    @include tablet-m {
        width: 400px;
        height: 532px;
    } 
    @include mobile-l {
        width: 280px;
        height: 372px;
    }
    @include mobile-m {
        width: 220px;
        height: 286px;
    }
}

.image {
    position: absolute; 
    top: 0;
    left: 0;     
    width:330px;
    height:440px;   
    border-radius: var(--border-radius-container);
    opacity: 0.7;
 
    
    @include desktop-l {       
        width: 280px;
        height: 372px;
    } 
    @include desktop-m {
        width: 260px;
        height: 345px;
    } 
    @include tablet-l {
        width: 500px;
        height: 665px;
    } 
    @include tablet-m {
        width: 400px;
        height: 532px;
    } 
    @include mobile-l {
        width: 280px;
        height: 372px;
    }
    @include mobile-m {
        width: 220px;
        height: 286px;
    }
}

.input {  
    position: absolute;   
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    z-index: -1;
}

.downloadIcon {
    position: absolute; 
    top: 45%;
    left: 45%;  
    z-index: 2;
   
    cursor: pointer;
}