@import '../../../../app/styles/media-queries.scss';
.kitten__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    @include tablet-m {
        
        font-size: var(--font-size-xs);
        & svg {
            width: 20px;
            height: 20px;
        }
    }

    
}
.kittens__card {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    width: clamp(240px, 25vw, 410px);
    height: 100%;

    /*@include tablet-l {
        width: clamp(240px, 40vw, 410px);
    }
    @include mobile-l {
        width: 100%;
    }*/
}
.description {  
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.5px; 
    margin-bottom: 45px;
    
    
    @include desktop-m {
        font-size: var(--font-size-s);       
    }
    @include mobile-m {
        font-size: var(--font-size-xs);
    }
}
.kitten__name {
    color: var(--black);
    font-weight: 700;
    font-size: var(--font-size-m);   
}
.card__body {
    display: flex;
    flex-direction: column;  
    flex-grow: 1;
}
.kitten__img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-container);
}

