.stack {
    display: flex;
    align-items: center;
    justify-content: center;
};

$justifyItems: (
    "center": center,
    "right": start,
    "sb": space-between
);

@each $name, $value in $justifyItems {
    .justify-#{$name} {
        justify-content: $value;
    }
};

$alignItems: (
    "center": center,
    "start": flex-start,
);

@each $name, $value in $alignItems {
    .align-#{$name} {
        align-items: $value;
    }
};

$directions: 'row', 'column';

@each $direction in $directions {
    .#{$direction} {
        flex-direction: $direction;
    }
};

$sizes: 8px, 16px, 24px, 32px;

@each $size in $sizes {
    .gap#{$size} {
        gap: $size;
    }
};