.section {
    margin-top: 60px;
}

.container {    
        margin: 0 auto;
        max-width: calc(var(--container-max-width) + var(--container-padding-x) * 2);
        padding: 0 var(--container-padding-x); 
}
.title {
    font-weight: 500;
    margin-bottom: 70px;
}
