@import '../../../app/styles/mixin.scss';

.footer {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
    padding: 20px var(--desktop-padding);
    padding-top: 40px;

    @include tablet-l {        
        margin-top: 40px;
    }
    @include mobile-l{
        margin-top: 40px;
    }  
    @include desktop-l {
        padding: 30px var(--tablet-padding);
        padding-top: 40px;
    } 
    @include mobile-m{
        margin-top: 40px;
        justify-content: center;
        flex-direction: column;
    } 
}
.adjMobile{
    @include mobile-m{
       padding: 20px;
    } 
}
.hiddenTextMobileM{
    @include mobile-m{
        display: none;
    } 
}



.text{
    span{
        color: var(--dark-brown);
        font-weight: 700;
    }

    @include tablet-m {
        font-size: var(--font-size-m);
    }  
    @include mobile-l {
        font-size: var(--font-size-xxs);
    }  
}

.connectIcon {
    width: 50px;
    height: 50px;

    @include tablet-m {
        width: 40px;
        height: 40px;
    }  
    @include mobile-l {
        width: 30px;
        height: 30px;
    }

}

.footerSection{
    align-items: flex-start;
}
.footerMediaOnly{
    align-items: flex-end;

    @include mobile-m{
        flex-direction: row;
        margin: 10px;
    } 
}

.email{
    color: var(--black);
}

.cIcon{
    width: 15px;
    height: 15px;

    @include tablet-m {
        width: 15px;
        height: 15px;
    }   
}

.legal{
    margin-top: 40px;
    @include tablet-m {
        display: none;
    }  
}

.footerAdjust{
    @include desktop-xl{
        display: none;
    } 
    @include tablet-m {
        display: block;
    }  

   background-color: var(--white);
}
