@import '../../../app/styles/media-queries.scss';
@import '../../../app/styles/mixin.scss';

.button {
    @include button
}

.accent {
    @include button-accent
}

.secondary {
    border: 3px solid var(--dark-brown);
    color: var(--dark-brown);
    background-color: transparent;

    @include desktop-l {
        border: 2px solid var(--dark-brown);
    }

    @include tablet-m {
        border: none;
        padding: 5px 15px;
        font-size: var(--font-size-xs);
        font-weight: 400;
    }

    &:hover {
        background: linear-gradient(to left, var(--brown), transparent);
        background-size: 350% 100%;
    }
}