.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white; //FIX LATER
    background-color: #204085; //FIX LATER
    padding: 16px; //FIX LATER
    color: #CEDBE9;
    font-size: 25px;
    

    &:hover {
        background-color: #CEDBE9; //FIX LATER
        color: #4A4747; //FIX LATER
    }
}