.button {
    border-radius: var(--border-radius-desktop);
    padding: 10px 25px;
    font-size: var(--font-size-m);
    font-weight: 700;
    text-transform: var(--text-uppercase);

    @media (max-width: 1439px) {
        font-weight: 600;
        font-size: 18px;
    }

    @media (max-width: 767px) {
        border-radius: var(--border-radius-mobile);
    }

}

.accent {
    background-color: var(--dark-brown);
    color: var(--white);

    &:hover {
        background: linear-gradient(to left, var(--brown), var(--dark-brown));
        background-size: 250% 100%;
    }
}

.secondary {
    border: 3px solid var(--dark-brown);
    color: var(--dark-brown);
    background-color: transparent;

    @media (max-width: 1439px) {
        border: 2px solid var(--dark-brown);
    }

    @media (max-width: 767px) {
        border: none;
        padding: 5px 15px;
        font-size: var(--font-size-xs);
        font-weight: 400;
    }

    &:hover {
        background: linear-gradient(to left, var(--brown), transparent);
        background-size: 350% 100%;
    }
}