.main-layout {
  display: flex;
  flex-direction: column;
  min-width: 560px;
  height: 100vh;
  padding-top: 16px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  color: var(--color-accent);
}

@media (width >= 992px) {
  .main-layout {
    width: 964px;
  }
}

@media (width >= 1200px) {
  .main-layout {
    width: 1252px;
  }
}
