@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin.scss';


.kittens__card {
    display: flex;
    flex-direction: column;    
    row-gap: 15px;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: var(--opacity);
    border-radius: var(--border-radius-container);

    @include desktop-m {
        padding: 25px;
    }
    @include tablet-l {
        padding: 40px;
    }
    @include mobile-l {       
        padding: 20px;
    }
}
.description {  
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.5px; 
    
    
    @include desktop-m {
        font-size: var(--font-size-s);       
    }
    @include mobile-m {
        font-size: var(--font-size-xs);
    }
}
.kitten__name {
    color: var(--black);
    font-weight: 700;

    @include desktop-m {
        font-size: var(--font-size-m);       
    }
    @include mobile-m {
        font-size: var(--font-size-s);
    }
}
.card__body {
    display: flex;
    flex-direction: column;  
    flex-grow: 1;
}
.kitten__img {
    width: 330px;
    height: 250px;
    object-fit: cover;
    border-radius: calc(var(--border-radius-container) - 10px);

    @include desktop-m {
        width: 290px;
    }

    @media (max-width: 1060px) {
        width: 220px;
    }

    @media (max-width: 900px) {
        width: 330px;
        height: 250px;
    }

    @include mobile-l {
        width: 300px;
    }

    @media (max-width: 410px) {
        width: 240px;
    }
}

.link {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    background-color: var(--dark-brown);
    @include button;
    @include button-accent;
    font-weight: 600;
    font-size: 30px;
    background: var(--dark-brown);
    font-size: 20px;
    margin-top: 40px;

    &:hover {
        background-color: #C49B82;
        animation: none;
    }
}

