@import '../../..//app/styles/media-queries.scss';
@import '../../..//app/styles/mixin.scss';

.crop__row {
    @include modal-content;
    position: relative;
    width: 800px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;

    @include tablet-m {
        width: 600px;
    }
    @include mobile-l {
        width: 96%;
        margin-left: 10px;
    }
}
.image {    
    width: auto;
    padding: 20px;
    max-height: 600px !important;  
}
.title {
    text-align: center;
    margin-top: 40px;
    
    @include mobile-l {
        font-size: var(--font-size-m);
    }

    @include mobile-m {
        font-size: var(--font-size-xs);
    }
}
.cropBtn {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    align-items: center;
    width: 100%;
    @include button;
}
.canvas {
    display: none;
    object-fit: contain;
    width: 330px;
    height: 374px;
    border: black;

}