@import "../../../../app/styles/mixin.scss";

.section {
  @include section-styles;
}
.title {
  @include title-section;
}


.img {
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-container);
  order: 1;

  @include tablet-l {
    width: 30%;
  }

  @include mobile-l {
    width: 40%;
    margin-bottom: 30px;
  }

  @include mobile-m {
    width: 80%;
    margin-bottom: 30px;
  }
}

.reverse {
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-container);
  order: 3;

  @include tablet-l {
    width: 30%;
  }

  @include mobile-l {
    width: 40%;
    margin-bottom: 30px;
  }

  @include mobile-m {
    width: 80%;
    margin-bottom: 30px;
  }
}