.container {
    display: none;
    background: rgba(253, 253, 253); //FIX LATER
    width: 100%;
    padding: 12px 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;

    @media (max-width: 767px) {
        display: block;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: var(--dark-brown);
    text-transform: var(--text-uppercase);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 360px) {
        font-size: 10px;
    }
}

.opened_page {
    font-weight: bold;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-brown);
    text-transform: var(--text-uppercase);
    background-color: transparent;

    @media (max-width: 360px) {
        font-size: 10px;
    }
}
