@import '../../../app/styles/media-queries.scss';

.container {
    width: 100%;
}

.button {
    width: 240px;
    border-radius: var(--border-radius-element);
    border: 2px solid transparent;   
    background-color: var(--white);
    font-size: var(--font-size-xs);
    height: 50px;   
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-transform: capitalize;

    .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        text-transform: none;

        & svg {
            @include tablet-m {
                width: 30px;
                height: 30px; 
            }
        }
    }

    @include tablet-m {
        width: 190px;
        height: 40px; 
    }
    @include mobile-l {
        width: 280px;          
    }
    @include mobile-m {
        width: 220px;
    }
}

.buttonOpen {
    border: 1px solid  var(--dark-brown);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    box-shadow: none;
}

.options {
    background-color: var(--white);
    font-size: var(--font-size-xs);
    width: 240px; 
    border-radius: var(--border-radius-element);
    border: 1px solid var(--dark-brown);
    z-index: 100;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    :last-child {
        border: none
    }
   
    @include tablet-m {
        width: 190px;   
    }
    @include mobile-l {
        width: 280px;                  
    }
    @include mobile-m {
        width: 220px;
    }
}

.option {
    padding: 15px;
    border-bottom: 1px solid var(--dark-brown);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.badge {
    position: relative;
    bottom: 70px;
    left: 220px;
    width: 35px;
    height: 35px;
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @include desktop-l {
        left: 135px;
    }
}