@import '../../app/styles/mixin.scss';
@import '../../app/styles/media-queries.scss';

.edit {
    @include modal-content;
     position: relative;
}
.title {
    margin-top: 20px;
    text-align: center;
    
    @include mobile-l {
        font-size: var(--font-size-m);      
    }
    @include mobile-m {
        max-width: 220px;
    }
}
.select__row {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include tablet-l {   
        align-self: center;     
    } 
}
.button {
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    max-width:500px;
    height: 44px;
    margin-top: 20px;

    & svg {

        @include mobile-m {
            width: 20px;
            height: 20px;       
        }
    }
   
    @include desktop-l {
        max-width: 450px;         
        padding: 5px 15px !important;      
    } 
    @include mobile-l {
        max-width: 280px; 
    }
    @include mobile-m {
        max-width: 220px;
        padding: 10px 8px !important; 
    }
}

.closeButton {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;

     
    @include mobile-l {
        width: 30px;
        height: 30px;       
    }
}
.editSection {
    @include tablet-l {
       display: flex;
       flex-direction: column;
       align-items: center;
    } 
}

.loader {
    width: 32px;
    height: 32px;
    border: 3px solid var(--white);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.text {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    height: 25px;
    max-width:500px;

    @include desktop-l {
        max-width: 450px;                  
    } 
    @include mobile-l {
        max-width: 280px; 
        font-size: var(--font-size-xs);
        margin-top: 10px;
    }
  
    @include mobile-m {
        max-width: 220px;        
    }
   
}

.default {
    color: var(--dark-brown);
}

.error {
    color: var(--red);
}

.grey {
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    max-width:500px;
    height: 44px;
    margin-top: 20px;
    background-color: rgba(148, 145, 145, 0.547);

    &:hover {
        background: linear-gradient(to left,  rgba(148, 145, 145, 0.547),  rgba(199, 197, 197, 0.547));
        background-size: 250% 100%;
}
    @include desktop-l {
        max-width: 450px;         
        padding: 5px 15px !important;      
    } 
    @include mobile-l {
        max-width: 280px; 
    }
    @include mobile-m {
        max-width: 220px;
        padding: 10px 8px !important; 
    }
}
