@import '../../../app/styles/mixin.scss';

.galleryContainer{
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: var(--border-radius-container);

    @include mobile-l {
        padding-top: 20px;
        padding-bottom: 20px;
      } 
}

.photoContainer{
    flex-wrap: wrap;
    @include tablet-l {
    display: flex;
    flex-wrap:wrap;
    }
}



.photo{
    width: 312px;
    height: 226px;
    border-radius: var(--border-radius-element);
 
    @include desktop-l {
        width: 210px;
        height: 176px;
    }  
    @include tablet-l {        
        width: 150px;
        height: 106px;
    }
}