@import '../../../app/styles/mixin.scss';
.section {
    @include section-styles;  

    @include tablet-l {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
.title {
    @include title-section;
    margin-bottom: 0px; 
    
    @include tablet-l {         
        margin-bottom: 20px;
    }
}

.galleryContainer{
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    padding: 40px 20px;  
    border-radius: var(--border-radius-container);
  
    @include desktop-m {
        padding: 40px 10px;  
    }  
   
    @include tablet-l  {
        display: none;
    }
}

.photoContainer{
    flex-wrap: wrap;

    @include desktop-m {
        gap: 16px;
    } 

    @include tablet-l {
        display: flex;
        flex-wrap:wrap;
    }
}

.photo{
    width: 30%;
    height: 16vw;
    object-fit: cover;
    border-radius: var(--border-radius-element);
}
.gallery__btn {    
   
    @include button;
    @include button-accent;
    text-transform: lowercase;  
  
    @include button-title; 
    margin-bottom: 0px; 

    @include tablet-l {      
        margin-bottom: 0px;
    }
}