@import '../../../app/styles/media-queries.scss';
@import '../../../app/styles/mixin.scss';

.section {
    display: none;  
    @include section-styles; 
    

    @include tablet-l  {        
        display: block;
    }
}
.slider__row {   
    display: flex;
    justify-content: center;   
}

.photo{   
    width: 100%;
    height: 520px;
    object-fit: cover;
    margin-bottom: 40px;
    border-radius: var(--border-radius-element);

    
      
    @include tablet-m  {        
        height: 480px;
    }
        @include mobile-xl  {
            height: 440px;
        }
        @include mobile-l  {
            height: 340px;
        }
        @include mobile-m  {
            height: 200px;
        }
    } 

   
    
