.navbar {
    background-color: #D2D5D6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; //FIX LATER
    font-size: 36px; //FIX LATER
}

.default {
    color: #4A4747; //FIX LATER

    &:hover {
        color: #204085;
        transition: color 0.3s ease-out;
    }

    &:after {
        display: block;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #204085;
        content: "";
        transition: width 0.3s ease-out;
    }

    &:hover:after,
    &:focus:after {
	    width: 100%;
    }
}

.opened-page {
    color: #204085; //FIX LATER

    &:after {
        display: block;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #204085;
        content: "";
        transition: width 0.3s ease-out;
    }
} 