@import '../../app/styles/media-queries.scss';
@import '../../app/styles/mixin.scss';

@mixin responsive-icon {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;    
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin position-icons (
    $pad:100px,  

) {
    position: relative; 
    padding-left: $pad;   
}
@mixin icons-width ($widht, $height) {
    width: $widht;
    height: $height;     
}

.section {
    @include section-styles;
}

.title {
    @include title-section;   
}

.about__row {
    display: flex;
    justify-content: space-between;
    column-gap: clamp(20px, 5vw, 120px);
    align-items: center;    

    @include tablet-l {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }   
}

.picture {
    width: clamp(430px, 40vw, 600px);
    border-radius: var(--border-radius-container);

    @include tablet-l {
        width: 100%;
    }
}
.text {  
    row-gap: 30px;   
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-align: justify;
    padding: 20px 0;

    @include desktop-l {
        row-gap: 15px; 
    }
    @include tablet-l {
        padding: 0;
    }
}
.par {

    @include desktop-m {
        font-size: var(--font-size-s);       
    }
    @include mobile-l {
        font-size: var(--font-size-xs);
    }
}

.benefits__row {   
    padding: 55px;
    background-color:var(--opacity); 
    border-radius: var(--border-radius-container); 


    @include tablet-m {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        padding: 40px 40px;
    }
    
    @include mobile-l {      
        padding: 40px 20px;
    }
    @include mobile-m {
        row-gap: 40px;
    }
}
.benefit__text {
    font-weight: 400;
    max-width: 240px;


    @include desktop-m {    
    font-size: var(--font-size-xs);
    }
    @include tablet-m {
        max-width: 100%;
        font-size: var(--font-size-s);
    }
    @include mobile-l {
        font-size: var(--font-size-xs);
    }
}
.benefit__doc {
    @include position-icons;
   

    @include desktop-m {    
        @include position-icons(80px);          
    }
    @include tablet-m {    
        @include position-icons(65px);          
    }

    &::before {
        @include responsive-icon; 
        background-image: url(../../shared/assets/photo/document.png);
        
        @include desktop-m {    
            @include icons-width(60px, 60px);
    }

    @include tablet-m {
        @include icons-width(50px, 50px);
    }
    }
}
.benefit__vet {
    @include position-icons;   

    @include desktop-m {    
        @include position-icons(80px);          
    }
    @include tablet-m {    
        @include position-icons(65px);          
    }


    &::before {
        @include responsive-icon;
        background-image: url(../../shared/assets/photo/vet.png);
        
        @include desktop-m {    
            @include icons-width(60px, 60px);
    }
        @include tablet-m {
            @include icons-width(50px, 50px);
    }
    }
}
.benefit__question {
    @include position-icons; 

    @include desktop-m {    
        @include position-icons(80px);        
    }
    @include tablet-m {    
        @include position-icons(65px);         
    }

    &::before {
        @include responsive-icon;
        background-image: url(../../shared/assets/photo/care.png);
        
        @include desktop-m {    
            @include icons-width(60px, 60px);
    }

        @include tablet-m {
            @include icons-width(50px, 50px);
    }
    }
}