.picture {
    width: 230px;
    height: auto;
    margin-right: 80px;

    @media (max-width: 1439px) {
        width: 150px;
        margin-right: 40px;
    }

    @media (max-width: 767px) {
        width: 100px;
        margin-right: 0;
    }
}