@import '../../app/styles/mixin.scss';

.edit {
    @include modal-content;
     position: relative;
}
.title {
    margin-top: 20px;
}
.save__btn {
    align-self: flex-end;
    margin-top: -180px;
    margin-bottom: 60px;
}
.button {
    display: flex;
    justify-content: space-between;  
    width:400px;
    height: 44px;
    margin-top: 20px;
}

.closeButton {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    @include desktop-l {
        left: 230px;
        top:6px;
    } 
    @include desktop-m {
        left: 200px;
    } 
    @include tablet-l {
        left: 180px;
        top:-60px;
    } 
    @include tablet-m {
        left: 170px;
        top: 10px;
    } 
    // @include mobile-l {

    // } доработать после прокрутки
}
.photoPosition {
    position: relative;
}
.editIcon{
    position: absolute;
    top: 38%;
    left: 16%;
    z-index: 9;
    @include desktop-l {
    width: 70px;
} 
}