@import '../../app/styles/mixin.scss';

.edit {
    @include modal-content;
    @include mobile-l {
        flex-direction: column;
    } 
}

.addImgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.addDiv{
    width:330px;
    height:374px;
    background-color: var(--white);
    border-radius: var(--border-radius-container);

    @include desktop-l {
        width: 280px;
        height: 317.56px;
    } 
    @include desktop-m {
        width: 259.6px;
        height: 294.42px;
    } 
    @include tablet-l {
        width: 410px;
        height: 465px;
    } 
}

.editIcon{
    position: absolute;
    @include desktop-l {
    width: 70px;
} 
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:263px;
    height: 44px;
    margin-top: 20px;

    @include desktop-l {
        width: 200px;
        height: 40px;
    } 
    @include desktop-m {
        width: 170px;
    } 
    @include tablet-l {
        width: 150px;
} 
@include tablet-m {
    width: 140px;
    justify-content: center;
} 
    @include mobile-l {
        width: 220px;
    } 
}

