@import '../../../../app/styles/mixin.scss';
@import '../../../../app/styles/media-queries.scss';

.section {
    @include section-styles;
}

.title {
    @include title-section;  
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include desktop-l {    
        font-size: var(--font-size-l);
        gap: 32px;
    }
    @include tablet-l {    
        font-size: var(--font-size-m);
        gap: 24px;
    }
    @media (max-width: 900px) {
        justify-content: center;
    }
    @include tablet-m {
        min-height: 700px;
    }
    @include mobile-xl {    
        font-size: var(--font-size-m);
        flex-direction: column;
        align-items: center;
    }
}

li:first-child {
    & img {
        @include desktop-m { 
            max-width: 180px;
        }

        @media (max-width: 795px) {    
            max-width: 220px;
        }

        @include mobile-m {    
            max-width: 180px;
        }
    }
}
    