@import '../../../../../../app/styles/mixin.scss';
@import '../../../../../../app/styles/media-queries.scss';

.filterButton {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: var(--border-radius-element);
    border: 2px solid transparent;
    background-color: var(--white);
    font-size: var(--font-size-l);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
    cursor: pointer;
    padding: 14px 60px 14px 32px;

    &::after {
        content: "";
        display: block;
        position: absolute;
        right: 23px;
        top: 15px;
        width: 17px;
        height: 17px;
        border-right: 2.5px solid var(--dark-brown);
        border-top: 2.5px solid var(--dark-brown);
        transform: rotate(135deg);

        @include desktop-l {
            top: 11px;
        }

        @include tablet-l {
            width: 14px;
            height: 14px;
            border-right: 2px solid var(--dark-brown);
            border-top: 2px solid var(--dark-brown);
            right: 18px;
            top: 15px;
        }
    
    }

    @media(max-width:1440px) {
        font-size: var(--font-size-s);
    }

    @include tablet-l {
        padding: 14px 40px 14px 18px;
    }

    @include mobile-xl {
        border: none;
        box-shadow: none;
        font-size: var(--font-size-m);
        color: var(--dark-brown);
        cursor: auto;
        text-align: left;
        &::after {
            display: none;
        }
    }
}

.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid var(--dark-brown);
    box-shadow: none;
}

.open::after {
    transform: rotate(-45deg);
    top: 30px;

    @include desktop-l {
        top: 22px;
    }
}

.open + .list {
    display: block;
    z-index: 100;
    position: absolute;
    width: 100%;
}