@import "../../../../app/styles/media-queries.scss";

.form {
    display: flex;
    gap: var(--gap-filter-xl);
    margin-bottom: 60px;

    @media (max-width: 1660px) {
        gap: var(--gap-filter-l);
        justify-content: space-between;
    }

    @include tablet-l {
        gap: 35px;
    }

    @media (max-width: 950px) {
        gap: 10px;
    }

    @include tablet-m {
        gap: 5px;
    }
}

.secondary {
    min-width: var(--with-filter-xl);
    font-size: 24px;
    font-weight: normal;
    padding: 5px;
    text-align: center;

    @media (max-width: 1660px) {
        min-width: var(--width-filter-l);
    }

    @media(max-width:1440px) {
        font-size: var(--font-size-s);
    }

    @include desktop-m {
        min-width: var(--width-filter-m);
    }

    @include tablet-l {
        min-width: var(--width-filter-s);
        font-size: var(--font-size-s);
    }
}