.container {
    display: flex;
    flex-direction: column;
    background-color: var(--light-brown); // временно / верный цвет background: rgba(253, 253, 253, 0.67);
    width: 1440px;
    height: 554px;
    padding: 69px 0;
    border-radius: 45px;
    margin-bottom: 120px;
    @media all and (max-width:1440px) {    
        width: 1200px;
    }
    @media all and (max-width:795px) {    
        width: 700px;
        height: 444px;
        padding: 49px 0;
    }
    @media all and (max-width:590px) {  
        width: 500px;
        height: 444px;
        padding: 49px 0;
        margin-bottom: 60px;
    }
    
    @media all and (max-width:340px) {
        width: 320px;
        height: 344px;

    }
}

.block {
    display: flex;
    padding: 15px 104px;
    @media all and (max-width:1440px) {    
       
    }

    @media all and (max-width:590px) {  
        padding: 5px 54px;
    }
    
    @media all and (max-width:340px) {
        padding: 5px 34px;
    }
}

img {
    @media all and (max-width:795px) {    
        width: 50px;
        height: 50px;
        
    }

    @media all and (max-width:340px) {
        width: 30px;
        height: 30px;
    }
}

.text {
    display: flex;
    align-items: center;
    margin-left: 59px;
    @media all and (max-width:795px) {    
        font-size: var(--font-size-s);
        
    }

    @media all and (max-width:340px) {
        font-size: var(--font-size-xs);
        margin-left: 19px;
    }
}

.title {
    font-weight: 500;
    margin: 120px 0 70px 0;
    @media all and (max-width:1440px) {    
       
    }

    @media all and (max-width:590px) {  
        font-size: var(--font-size-m);
        margin: 60px 0 70px 0;
    }
    
}