@import '../../../../../../app/styles/media-queries.scss';

.container {
    position: relative;
    min-width: var(--width-filter-xl);

    @media(max-width: 1660px) {
        min-width: var(--width-filter-l);
    }

    @include desktop-m {
        min-width: var(--width-filter-m);
    }

    @include tablet-l {
        min-width: var(--width-filter-s);
    }
}

.list {
    position: absolute;
    width: 100%;
    z-index: 100;
    transform: rotateY(180deg);
    transition: transform 295ms ease-in-out;
    backface-visibility: hidden;
}

.open .list {
    transform: rotateY(360deg);
}

.item {
    padding: 22px 25px;
    border: 1px solid var(--dark-brown);
    border-top: none;
    background-color: var(--white);

    @include desktop-m {
        padding: 20px 10px 20px 15px;
    }
}

.item:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.quantity {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--black);
    background-color: var(--brown);
    position: absolute;
    top: -22px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}
