@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin.scss';

@mixin afterElement($width: 0) {
    &:after {
        display: block;
        left: 0;
        width: $width;
        height: 2px;
        background-color: var(--white);
        content: "";
        transition: width 0.3s ease-out;
    }
}

.container {
    z-index: 10;
    padding: 25px 0;
    background-color: var(--white);

    @include tablet-l {
        padding: 20px 0;
    };

    @include tablet-m {
        display: none;
    }
}

.navbar {
    display: flex;
    align-items: center;
    gap: 74px;
    z-index: 10;
    font-weight: 400;
    flex-wrap: wrap;

    @media (max-width: 1550px) {
        gap: 35px;
    }

    @include desktop-m {
        gap: var(--gap-desktop);
    }

    @include tablet-l {
        gap: var(--gap-tablet);
    }

    @media (max-width: 920px) {
        gap: 10px;
    }

    @include tablet-m {
        gap: var(--gap-mobile);
    }
}

.link {
    color: var(--black);
    text-transform: var(--text-uppercase);
    min-width: 150px;
    text-align: center;
    padding: 5px;
    line-height: 1;
    font-size: var(--font-size-m);

    @include desktop-l {
        min-width: 80px;
    }

    @media (max-width: 920px) {
        font-size: 18px;
    }

    @include tablet-m {
        font-size: var(--font-size-xs);
    }
}

.default {
    font-weight: 400;
    @include afterElement(0);

    &:hover {
        transition: color 0.3s ease-out;
    }


    &:hover:after,
    &:focus:after {
        width: 100%;
    }
}

.opened_page {
    position: relative;
    font-weight: 600;
    color: var(--dark-brown);
    @include afterElement(100%);

    &::after {
        content: '';
        position: absolute;
        bottom: -7px;
        height: 3px;
        width: 100%;
        background-color: var(--dark-brown);
    }
} 

.buttonSigin {
    min-width: 200px;
    font-size: 20px;
    font-weight: 400;

    @include desktop-l {
        font-size: var(--font-size-m);
        min-width: 100px;
    }

    @include tablet-l {
        font-size: var(--font-size-xs);
        min-width: 70px;
    }
}

