@import '../../../../app/styles/media-queries.scss';

@mixin accordion-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;  
    width: 100%;    
    padding: 17px 58px;
    text-align: start;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
   
    @include desktop-m {
        font-size: var(--font-size-s);  
    }
    @include tablet-m {
        padding: 15px;
    }
    @include mobile-l {
        font-size: var(--font-size-xs);
    }  
}

.question {  
    @include accordion-btn;
    border-radius: var(--border-radius-element); 
    

    & svg {

        @include tablet-m {
            width: 40px;
            height: 40px;          
        }
        @include mobile-l {
            width: 30px;
            height: 30px;          
        }
}
}

.answer {
    width: 100%;
    padding: 23px 58px;
    border-bottom-left-radius: var(--border-radius-element);
    border-bottom-right-radius: var(--border-radius-element);
    color: var(--black);
    background-color: var(--white);
    text-align: start; 

    @include tablet-m {
        padding: 15px;
    }
}
.list { 
    font-size: var(--font-size-m);
    line-height: 1.2;
    letter-spacing: 0.5px;
    border-radius: var(--border-radius-element);  
    margin-bottom: 10px; 

    @include desktop-m {
        font-size: var(--font-size-s);  
        margin-bottom: 5px;      
    }
    @include mobile-l {
        font-size: var(--font-size-xs);
    }
}
.open {      
    @include accordion-btn;
    border-radius: 15px 15px 0 0; 



    & svg {
        @include mobile-l {
            width: 30px;
            height: 30px;
        }
}
}

    

