@import '../../../app/styles/media-queries.scss';
@import '../../../app/styles/mixin.scss';

.delete_container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
  
    @include modal-content;
   
    @include mobile-l {
        width: 90%;
    }
}

.title {
    margin-top: 60px;   
    color: var( --black);
    text-align: center;
    @include mobile-l {
        font-size: var(--font-size-m);
    }
}

.text {     
    line-height: 1.5;
    text-align: justify;     
    @include mobile-l {
        font-size: var(--font-size-s);
        width: 70%;
    }
}

.button_container {
    @include mobile-l {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 200px;
    height: 52px;
    @include mobile-l {
        width: 60%;
    }
}

.deleteBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    width: 200px; 

    @include mobile-l {
        width: 60%;
    }
}
.loader {
    width: 32px;
    height: 32px;
    border: 3px solid var(--white);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
