@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin.scss';

.section {
    @include section-styles; 
 
}
.title {
    @include title-section;   

    @include tablet-l {
       margin-bottom: 20px;
    }
}
.kittens__row {
    display: flex;   
    justify-content: space-between;
} 



