@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin.scss';

.section {
    @include section-styles; 
 
}
.title {
    @include title-section;   

    @include tablet-l {
       margin-bottom: 20px;
    }
}
.container_mobile {
    display: none;

    @include tablet-l {
        margin-top: 20px;
        display: block;
    }
}
.container_desktop {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    margin-top: 48px;

    @include tablet-l {
        display: none;
    }
}



