@import '../../../app/styles/media-queries.scss';

.upload_container {   
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;   
    margin-bottom: 60px;
    width:330px;
    height:374px;
    background-color: var(--white);
    border-radius: var(--border-radius-container);

}
.imgContainer {
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 20px; 
    margin-bottom: 60px;
    width:330px;
    height:374px;
    background-color: var(--white);
    border-radius: var(--border-radius-container);
}
.editIcon{
    position: absolute;
    top: 34%;
    left: 34%;
    z-index: 7;
    cursor: pointer;

    @include desktop-l {
        width: 70px;
    }
   
    @include tablet-l {        
        top: 45%;
        left: 40%;
        width: 100px;
    } 
    @include mobile-l {
        width: 70px;
       
    }
    @include mobile-m {
        width: 50px;          
    }
} 