.media {
    position: fixed;
    bottom: 75px; //FIX LATER
    right: 5px; //FIX LATER
    padding: 25px 32px;
    width: 64px;

    .button {
        background-color: transparent;
    }

    img {
        width: 50px;
    }
}
