@import '../../../../app/styles/media-queries.scss';

.slider__row {
    display: flex;
    justify-content: center;
    column-gap: 10px; 
}
.slider__btn {
    background-color: transparent;


    @include mobile-l {
        & svg {
            width: 30px;
            height: 30px;
        }
    } 
}