.container {
    background-color: var(--opacity);
    width: 100%;
    border-radius: 45px;
    margin-bottom: 20px;
    padding: 40px 60px;

    @media (max-width: 1440px) {    
        width: 1200px;
    }
    @media (max-width: 1240px) {    
        width: 1000px;
    }
    @media (max-width: 765px) {    
        width: 700px;
        height: 400px;
    }

    @media (max-width: 450px) {    
        width: 400px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

}

.img {
    width: 300px;
    border-radius: 45px;

    @media (max-width: 765px) {    
        width: 200px;
        height: 270px;
    }

}

.title {
    font-size: var(--font-size-m);
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 80px;

    @media (max-width: 1440px) {    
        margin-bottom: 60px;
    }
    @media (max-width: 1240px) {    
        font-size: var(--font-size-m);
        margin-bottom: 30px;
    }
    @media (max-width: 765px) {    
        font-size: var(--font-size-s);
    }

    @media (max-width: 450px) {    
        font-size: var(--font-size-xs);
        margin: 1em 5em;

    }
}

.content {
    text-align: justify;
    font-size: var(--font-size-m);
    line-height: normal;

    @media (max-width: 1440px) {    
        font-size: var(--font-size-m);
    }
    @media (max-width: 1240px) {    
        font-size: var(--font-size-s);

    }
    @media (max-width: 765px) {    
        font-size: var(--font-size-xs);
    }
}
