@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin.scss';

.section {
    @include section-styles; 
 
}
.title {
    @include title-section;   
}
.kittens__row {
    display: flex;   
    justify-content: space-between;
    column-gap: clamp(10px, 2vw, 105px);
  

    @include tablet-l {
      display: none;
    }
 
}
.slider {
    display: none;

    @include tablet-l {
        display: block;
      }
}


