@import '../../../../app/styles/mixin.scss';
@import '../../../../app/styles/media-queries.scss';

.header {
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 20px var(--desktop-padding);

    @include desktop-xl {
        height: fit-content;
        min-height: 820px;
        padding: 20px var(--tablet-padding);
    }

    @include tablet-l {
        min-height: 550px;
    }

    @include tablet-m {
        min-height: 480px;
    }

    @include mobile-xl {
        min-height: 330px;
    }

    @include tablet-l {
        display: flex;
        align-items: center;
        background-color: transparent;
        justify-content: flex-start;
        min-height: 230px;
        padding: 20px var(--mobile-padding);
    }
}

.headerMain .navbar {
    justify-content: flex-end;
}

.navbarMain {
    justify-content: flex-end;
}

.headerContext {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    @include desktop-xl {
        padding: 0;
    }

    @include mobile-xl {
        margin-left: 0;
        align-items: center;
    }
}

.linkHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    background-color: var(--dark-brown);
    @include button;
    @include button-accent;
    font-weight: 600;


    @include desktop-xl {
        font-size: var(--font-size-m);
    }

    @include mobile-xl {
        min-width: 160px;
        font-size: var(--font-size-xl);
        padding: 8px 15px;
        border-radius: var(--border-radius-mobile);
        font-size: var(--font-size-s);
    }

    & svg {
        width: 20px;
        height: 20px;
    }
}

.titleContainer {
    width: fit-content;
    align-self: self-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 10;

    .text {
        color: var(--white);        
        font-weight: 400;
        line-height: 2;
    }

    .title {
        color: var(--white);
        width: min-content;
        font-weight: 600;
        margin-bottom: 56px;
        font-size: 70px;

        @include desktop-xl {
            font-size: var(--font-size-xl);          
        }

        @include mobile-xl {
            font-size: var(--font-size-m);
            margin-bottom: 20px;
        }
    }
}
