@import '../../../../app/styles/mixin.scss';
@import '../../../../app/styles/media-queries.scss';

.header {
    background-color: transparent;
    width: 100%;
    height: 100vh;
    position: relative;

    @include tablet-m {
        height: calc(100vh - 90px);
    }
}

.headerMain .navbar {
    justify-content: flex-end;
}

.navbarMain {
    justify-content: flex-end;
}

.container {
    background-color: var(--white);
}

.wrapper {
    @include main-styles;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerContext {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @include tablet-m {
        align-items: flex-end;
        align-items: center;
        justify-content: flex-end;
    }
}

.linkHeader {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    background-color: var(--dark-brown);
    @include button;
    @include button-accent;
    font-weight: 600;
    font-size: 30px;
    background: linear-gradient(45deg,  var(--dark-brown), #c7653e, #d9825f);
    background-size: 400% 400%;
    animation: animate_gradient 5s ease infinite;

    &:hover {
        background-color: #C49B82;
        animation: none;
    }

    @include desktop-xl {
        font-size: var(--font-size-l);
    }

    @include tablet-l {
        font-size: var(--font-size-m);
    }

    @include mobile-xl {
        display: none;
        min-width: 160px;
        padding: 8px 15px;
        border-radius: var(--border-radius-mobile);
        font-size: var(--font-size-m);
    }

    & svg {
        width: 20px;
        height: 20px;
    }
}

@keyframes animate_gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.titleContainer {
    width: 100%;
    align-self: self-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 170px);
    z-index: 9;
    margin-bottom: 10%;

    @include main-styles;

    @include tablet-l {
        height: calc(100vh - 160px);
    }

    @include tablet-m {
        height: fit-content;
        margin-bottom: 20%;
    }
}

.title {
    color: var(--white);
    font-weight: 600;
    margin-bottom: 48px;
    font-size: 96px;
    max-width: min-content;

    @include desktop-l {
        font-size: 70px;          
    }

    @include desktop-m {
        font-size: 60px;          
    }

    @include tablet-l {
        font-size: 52px;
        max-width: 360px;
    }

    @include mobile-l {
        font-size: 40px;
        margin-bottom: 0;
    }
}

.text {
    color: var(--white);        
    font-weight: 400;
    line-height: 1.1;
    font-size: 40px;

    @include desktop-l {
        font-size: 30px;          
    }

    @include desktop-m {
        font-size: 25px;          
    }

    @include tablet-l {
        min-width: max-content;
    }

    @include mobile-xl {
        font-size: 21px;
    }

    @media (max-width: 375px) {
        font-size: 19px;
    }
}
