@import '../../../../../app/styles/mixin.scss';
@import '../../../../../app/styles/media-queries.scss';

.container {
    background-color: var(--dark-brown);
    padding: 20px 0; 
    @include tablet-m {
        display: none;
    }
}

.position {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @include main-styles
}

.wrapper {
    display: flex;
    gap: 20px;
}

.link {
    color: var(--white);
    font-size: var(--font-size-m);
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    width: 32px;
    height: 32px;
}
