.catInput {
    position: absolute;
    cursor: pointer; 
    width: 300px;
    top: 50%;
    left: 14%;
    z-index: 7;
    background-color: var(--light-brown);
   
   
}
.closeIcon {
    position: absolute;
    top: 20%;
    left: 46%;
    z-index: 7;
}
