.catInput {
    position: absolute;
    cursor: pointer; 
    width: 300px;
    top: 50%;
    left: 12%;
    z-index: 7;
    background-color: var(--light-brown);
   
   
}
.closeIcon {
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 7;
}
