@import '../../../../app/styles/media-queries.scss';

.item {
    background-color: var(--opacity);
    max-width: 350px;
    width: fit-content;
    border-radius: var(--border-radius-element);
    padding: 40px;
    display: flex;
    flex-direction: column;

    & img {
        margin: auto auto 0 auto;

        @include desktop-m() {
            max-width: 170px;
            height: auto;
        }
        @include tablet-m() {    
            max-width: 180px;
        }
        @include mobile-l() {    
            display: none;
        }
    }

    @include desktop-l() {    
        max-width: 320px;
        min-height: 650px;
        padding: 50px;
    }
    @include desktop-m() {    
        max-width: 273px;
        min-height: 400px;
        padding: 30px;
    }
    @include tablet-l() {    
        max-width: 270px;
        min-height: 350px;
        padding: 45px;
    }
    @media (max-width: 900px) {
        max-width: 350px;
    }
    @include tablet-m() {    
        max-width: 350px;
        padding: 30px 45px;
    }
    @include mobile-l() {    
        max-width: 100%;
        min-width: 100%;
        min-height: 250px;
    }
}

.title {
    position: relative;
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 32px;
    text-transform: var(--text-uppercase);
    margin-bottom: 56px;
    color: var(--dark-brown);

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: var(--dark-brown);
    }

    @include desktop-l() {    
        font-size: var(--font-size-m);
        margin-bottom: 40px;
        padding-bottom: 25px;
    }
    @include mobile-xl() {    
        font-size: var(--font-size-s);
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
}

.text {
    font-size: var(--font-size-m);

    @include desktop-l() {    
        font-size: var(--font-size-m);
    }
    @include desktop-m() {    
        font-size: var(--font-size-s);
    }

    @include mobile-l() {    
        font-size: var(--font-size-xs);
    }
}

