@import '../../app/styles/mixin.scss';

.edit {
    @include modal-content;
    position: relative;     
} 
.title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.photoPosition {
    position: absolute;
    right: 55.4%;
    top: 23%;
    z-index: 2;
}
.editPhoto{  
    width:330px;
    height:374px;
    
    @include desktop-l {
        width: 280px;
        height: 317.56px;
    } 
    @include desktop-m {
        width: 259.6px;
        height: 294.42px;
    } 
    @include tablet-l {
        // width: 410px;
        // height: 465px;
        width: 148px;
        height: 168px;
    } 
    @include tablet-m {
        width: 255px;
        height: 290px;
    } 
       @include mobile-l {
        width: 470px;
        height: 533px;
    }
    @include mobile-m {
        width: 220px;
        height: 250px;
    }
}

.editIcon{
    position: absolute;
    top: 40%;
    right: 35%;
    z-index: 9;
 
    @media (max-width: 1439px) {
        width: 70px;
}
}
.save__btn {
    align-self: flex-end;
    margin-top: -230px;
}
.button {
    display: flex;
    justify-content: space-between;  
    width:400px;
    height: 44px;
    margin-top: 20px;  

    @include desktop-l {
        font-size: var(--font-size-xs);
    } 

    @include desktop-m {
        width: 170px;
    } 
    @include tablet-l {
        width: 150px;
} 
@include tablet-m {
    width: 140px;
    justify-content: center;
} 
    @include mobile-l {
        width: 220px;
    } 
}

.delete__btn {
    align-self: flex-end;
    margin-top: -40px;
}
.buttonDelete {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width:400px;
    height: 44px;
    margin-top: 20px;  
    border: 2px solid var(--red) !important;
    color: var(--red) !important;
    height: 44px;
    @include desktop-m {
        width: 170px;
    } 
    @include tablet-l {
            width: 150px;
    } 
    @include tablet-m {
        width: 140px;
        justify-content: center;
    } 
    @include mobile-l {
        width: 220px;
    } 
}
.closeButton {
    cursor: pointer; 
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    @include desktop-l {
        left: 230px;
    } 
    @include desktop-m {
        left: 200px;
    } 
    @include tablet-l {
        left: 180px;
        top:10px;
    } 
    @include tablet-m {
        left: 170px;
    } 
}
    // @include mobile-l {

    // } доработать после прокрутки

   