@import '../../app/styles/mixin.scss';

.edit {
    @include modal-content;
        @include mobile-l {
        flex-direction: column;
    } 
}

.editImgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.editPhoto{
    width:330px;
    height:374px;
    
    @include desktop-l {
        width: 280px;
        height: 317.56px;
    } 
    @include desktop-m {
        width: 259.6px;
        height: 294.42px;
    } 
    @include tablet-l {
        // width: 410px;
        // height: 465px;
        width: 148px;
        height: 168px;
    } 
    @include tablet-m {
        width: 255px;
        height: 290px;
    } 
       @include mobile-l {
        width: 470px;
        height: 533px;
    }
    @include mobile-m {
        width: 220px;
        height: 250px;
    }
}

.editIcon{
    position: absolute;
    @media (max-width: 1439px) {
        width: 70px;
}
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 44px;
    @include desktop-l {
        font-size: var(--font-size-xs);
    } 

    @include desktop-m {
        width: 170px;
    } 
    @include tablet-l {
        width: 150px;
} 
@include tablet-m {
    width: 140px;
    justify-content: center;
} 
    @include mobile-l {
        width: 220px;
    } 

}

.buttonDelete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border: 2px solid var(--red) !important;
    color: var(--red) !important;
    height: 44px;
    @include desktop-m {
        width: 170px;
    } 
    @include tablet-l {
            width: 150px;
    } 
    @include tablet-m {
        width: 140px;
        justify-content: center;
    } 
    @include mobile-l {
        width: 220px;
    } 
}
.closeButton {
    cursor: pointer;
    position: relative;
    left: 290px;
    top: 10px;
    width: 50px;
    height: 50px;
    @include desktop-l {
        left: 230px;
    } 
    @include desktop-m {
        left: 200px;
    } 
    @include tablet-l {
        left: 180px;
        top:10px;
    } 
    @include tablet-m {
        left: 170px;
    } 
}
    // @include mobile-l {

    // } доработать после прокрутки