@import '../../app/styles/mixin.scss';

.edit {
    @include modal-content;
    position: relative;    
} 
.editSection {
    @include tablet-l {
       display: flex;
       flex-direction: column;
       align-items: center;
    } 
   
}

.title {   
    margin-top: 30px;       
    text-align: center;

    @include tablet-m {
        max-width: 400px;     
    }
    
    @include mobile-l {
        font-size: var(--font-size-m) !important;      
        max-width: 280px;       
        margin-top: 40px;
    }
    @include mobile-m {
        max-width: 220px;
    }
}

.photoPosition {
    position: relative;  
}
.editPhoto{  
    position: absolute; 
    right: 0;
    top: 0;  
    width:330px;
    height:374px;
    border-radius: var(--border-radius-container);
    opacity: 0.7;
    z-index: 2;
    
    @include desktop-l {
        width: 280px;
        height: 318px;
    } 
    @include desktop-m {
        width: 260px;
        height: 295px;
    } 
    @include tablet-l {
        width: 500px;
        height: 567px;
    } 
    @include tablet-m {
        width: 400px;
        height: 520px;
    } 
    @include mobile-l {
        width: 280px;
        height: 317px;
    }
    @include mobile-m {
        width: 220px;
        height: 250px;
    }
}

.save__btn {
    align-self: flex-end;
    margin-top: -230px;

    @include desktop-l {
        margin-top: -160px;
    } 
    @include tablet-l {
        margin-top: 0px;
        align-self: center;
    } 
}
.button {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width:500px;
    height: 44px;
    margin-top: 20px;  

    
    & svg {
        @include mobile-m {
            width: 20px;
            height: 20px;       
        }
    }

    @include desktop-l {
        font-size: var(--font-size-xs);
        margin-top: 0px;
    } 

    @include tablet-l {
        width: 500px;
        margin-top: 0px;  
} 
    @include tablet-m {
        width: 400px; 
        height: 40px;      
        padding: 5px 15px !important;  
    } 
    @include mobile-l {
        width: 280px; 
    }
    @include mobile-m {
        width: 220px;
    }
}

.delete__btn {
    align-self: flex-end;
    margin-top: -40px;

    @include tablet-l {   
        align-self: center;
    } 
}
.buttonDelete {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width:500px;
    height: 44px;
    margin-top: 20px;  
    border: 2px solid var(--red) !important;
    color: var(--red) !important;
    height: 44px;

    & svg {
        @include mobile-m {
            width: 20px;
            height: 20px;       
        }
    }
   
    @include tablet-l {
        width: 500px;
        margin-top: 20px;
    } 
    @include tablet-m {
        height: 40px;
        width: 400px;       
    }  
    @include mobile-l {
        width: 280px; 
    }
    @include mobile-m {
        width: 220px;
    } 
}
.closeButton {
    cursor: pointer; 
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;   
    
    @include mobile-l {
        width: 30px;
        height: 30px;       
    }
}

