@import '../../../../app/styles/media-queries.scss'; 

.picture {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    display: block;

    @include desktop-xl {
        min-height: 820px;
    }

    @include tablet-l {
        min-height: 550px;
    }

    @include tablet-m {
        min-height: 480px;
    }

    @include mobile-xl {
        min-height: 330px;
    }

    @include mobile-l {
        position: absolute;
        width: 100%;
        min-height: 230px;
        background-color: var(--brown);
    }
}
