@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin.scss';

.picture {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    object-position: 80% center;

    @include header-height;

    @include desktop-m {
        object-position: 85% center;
    }
    @include tablet-l {
        object-position: 90% center;
    }

    @include tablet-m {
        background-color: var(--brown);
        object-position: 0% center;
    }

    @include mobile-xl {
        object-position: 85% center;
    }
}
