@import '../../../../app/styles/media-queries.scss';
@import '../../../../app/styles/mixin.scss';

.picture {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 170px);
    display: block;
    object-position: 91% center;

    @include tablet-l {
        height: calc(100vh - 160px);
    }

    @include tablet-m {
        background-color: var(--brown);
        object-position: 0% center;
        height: calc(100vh - 87px);
    }

    @include mobile-xl {
        object-position: 85% center;
    }
}
