@import '../../../../app/styles/media-queries.scss';

.container {
    margin: 50px 0;
}

.filterDesktop {
    @include tablet-l {
        display: none;
    }
}

.filterMobile {
    display: none;

    @include tablet-l {
        display: flex;
        justify-content: flex-end;
    }
}

.button {
    background-color: inherit;
    position: relative;
}

.selectedContainer {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-brown);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -12px;
}