@import '../../../../../../app/styles/mixin.scss';
@import '../../../../../../app/styles/media-queries.scss';

.container {
    position: relative;
    min-width: 165px;
    margin-right: 40px;
}

.listMobile {
    gap: 5px;
    display: grid;
}

.container h3 {
    font-size: var(--font-size-m);
    margin-bottom: 10px;
}    

.item {
    border: 1px solid var(--dark-brown);
    border-top: none;
    background-color: var(--white);
}

.item:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.listMobile .item {
    border: none;
    margin: 0;
    display: block;
} 
