.label{
    position: relative;
    padding-left: 24px;
    user-select: none;
    outline: none;
    display: block;
    height: 25px;
    bottom: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.label > .checkbox{
    position: absolute;
    opacity: 0;
    left: 0;
    z-index: 100;
}
.label:before,
.label:after{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
}
.label:before{
    border-radius: 5px;
    border: 1.5px solid var(--dark-brown);
}
.label:has(.checkbox:checked):before {
    background-color: var(--dark-brown);
}
.label:has(.checkbox:checked):after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 15px;
    height: 15px;
    border-right: 2px solid var(--white);
    border-top: 2px solid var(--white);
    transform: rotate(135deg);
}
.label:focus-visible,
.label:focus-visible:before{
    border-color: #0c7ff2;
    color: #0c7ff2
}